html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.gap_lists{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    height: 520px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: justify;
}

  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* margin: 10px; */
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;  
  }
  .title_submenu{
    margin-left: 7px;
    /* border: 2px solid red; */
  }
  .menu-item {
    cursor: pointer;
    padding: 9px;
    color: white;
    /* font-weight: bold; */
    border-radius: 5px;
    /* border: 1px solid rgb(214, 188, 188);           */
    background: #2e2e2ea8 ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 5px;

  }
  .menu-item >span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
  }
  .submenu-container {
   margin-top: 10px;
    /* min-width: 200px; */
    z-index: 1;
  }
  
  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .submenu.open {
    display: block;
  }
  
  .submenu li {
    padding: 5px 0;
    cursor: pointer;
    color: white;
    margin-top: 40px;
  }
  