*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Grandiflora One';
  src: url('../public/fonts/GrandifloraOne-Regular.eot');
  src: url('../public/fonts/GrandifloraOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/GrandifloraOne-Regular.woff2') format('woff2'),
      url('../public/fonts/GrandifloraOne-Regular.woff') format('woff'),
      url('../public/fonts/GrandifloraOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-ExtraLight.eot');
  src: url('../public/fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-ExtraLight.woff2') format('woff2'),
      url('../public/fonts/Poppins-ExtraLight.woff') format('woff'),
      url('../public/fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Bold.eot');
  src: url('../public/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-Bold.woff2') format('woff2'),
      url('../public/fonts/Poppins-Bold.woff') format('woff'),
      url('../public/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Light.eot');
  src: url('../public/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-Light.woff2') format('woff2'),
      url('../public/fonts/Poppins-Light.woff') format('woff'),
      url('../public/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.eot');
  src: url('../public/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-Regular.woff2') format('woff2'),
      url('../public/fonts/Poppins-Regular.woff') format('woff'),
      url('../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-SemiBold.eot');
  src: url('../public/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../public/fonts/Poppins-SemiBold.woff') format('woff'),
      url('../public/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Medium.eot');
  src: url('../public/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-Medium.woff2') format('woff2'),
      url('../public/fonts/Poppins-Medium.woff') format('woff'),
      url('../public/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* arial font  */
@font-face {
  font-family: 'Arial';
  src: url('../public/fonts/ArialMT.eot');
  src: url('../public/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/ArialMT.woff2') format('woff2'),
      url('../public/fonts/ArialMT.woff') format('woff'),
      url('../public/fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* general css  */
body{
  @apply font-primary_font
}
.primary_btn{
  @apply inline-flex justify-center py-10px px-5 rounded-xl text-xl text-white font-semibold;
  background: linear-gradient(46deg, #F79220 55.15%, #F94A2B 82%);
}
.gradient {
  background: linear-gradient(46deg, #F79220 55.15%, #F94A2B 82%);
}
.circle_blur{
  filter: blur(200px);
}
.container{
  @apply px-5
}
.clipped_text{
  -webkit-text-fill-color: transparent;
}
.date_picker input {
  font-weight: 600 !important;
}
.forgot_page *{
  @apply font-body_font
}
.logout_btn{
  background: linear-gradient(46deg, #F79220 55.15%, #F94A2B 82%) !important;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.ctm_multi_select .optionListContainer {
  @apply text-black
}
.multiSelectContainer li.highlightOption{
  background: #fff;
  color: #000;
}
span.chip{
  @apply bg-orange !important;
}
.multiSelectContainer li:hover{
  background: #F79220 !important;
  color: #000 !important;
}
.male_login_data {
  color: #3A97FE;
}
.female_login_data {
  color:#FF2A90;
}
.female_login_data_2{
  color: #FF2B90;
}

/* filter dropdown css  */
.filter_dropdown {
  padding: 20px 15px;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
}
.filter_dropdown.Active{
  visibility: visible;
  opacity: 1;
}

.filter_dropbox {
  display: grid;
  gap: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #131313;
}
.filter_item input[type="checkbox"] {
  display: none;
}

.toggle_switch {
  display: block;
  width: 42px;
  height: 20px;
  background: #131313;
  border-radius: 30px;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
}

.filter_item {
  display: grid;
  grid-template-columns: 52px 1fr;
  align-items: center;
}

.toggle_switch .toggle_circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0px;
  transform: translateX(0);
  background: #fff;
  transition: all 0.25s ease;
  left: 0;
}


.filter_item input:checked + label {
  background: #0075ff;
}

.filter_item input:checked + label span {
  left: 100%;
  transform: translateX(-100%);
}



